body {
  overflow-y: scroll;
}

.nav-item{
  padding: 0 2rem;
}

footer{
  background-color: rgb(88, 10, 119);
  color: #E9ECEF;
}

.home-inner{
  background: url("img/landing.png");
}

.section2 a, .section3 .col-md-6{
  padding: 0;
}

.section2 img, .section3 img{
  width: 100%;
  height: auto;
}

.caption{
  position: absolute;
  top: 40%;
  width: 100%;
  max-width: 100%;
  color: #E9ECEF;
  text-transform: uppercase;
}

.card{
  margin: 2rem;
}

/*--- iOS Landing Page Fix --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}



